<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="pattern">%-5level | %date{ISO8601} | [%tread] | %logger (%file:%line) - %msg%n</Property>
        <Property name="logs.dir">logs</Property>
        <Property name="logging.file">player.log</Property>
        <Property name="serverFileName">${sys:logs.dir}/${sys:logging.file}</Property>
        <Property name="jmeterFileName">${sys:logs.dir}/jmeter.log</Property>
    </Properties>
    <Appenders>
        <RandomAccessFile name="SERVER_FILE" fileName="${serverFileName}" append="false">
            <PatternLayout pattern="${pattern}"/>
        </RandomAccessFile>
        <RandomAccessFile name="JMETER_FILE" fileName="${jmeterFileName}" append="false">
            <PatternLayout pattern="${pattern}"/>
        </RandomAccessFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <!--Log levels sorted ascending by verbosity: OFF/FATAL/ERROR/WARN/INFO/DEBUG/TRACE/ALL-->
        <Logger name="com.focusit.jsflight.player" level="info" additivity="false">
            <AppenderRef ref="SERVER_FILE"/>
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="com.focusit.jsflight.script" level="info" additivity="false">
            <AppenderRef ref="SERVER_FILE"/>
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Logger name="com.focusit.jsflight.jmeter" level="info" additivity="false">
            <AppenderRef ref="JMETER_FILE"/>
            <AppenderRef ref="STDOUT"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>